<?xml version="1.0" encoding="utf-8"?> 
<configuration>

	<!-- ✅ Must be first -->
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="con" connectionString="Data Source=DESKTOP-GC86ANB\SQLEXPRESS;Initial Catalog=Tourism;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="TourismConnectionString" connectionString="Data Source=DESKTOP-GC86ANB\SQLEXPRESS;Initial Catalog=Tourism;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Other config elements like appSettings, system.web, etc. -->
	

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="PageHandlerFactory-Integrated" />
			<add name="PageHandlerFactory-Integrated" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" />
			<add name="LessCss" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" resourceType="Unspecified" preCondition="integratedMode" />
		</handlers>
	</system.webServer>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itext.commons" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.2.6.0" newVersion="7.2.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itext.kernel" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.2.6.0" newVersion="7.2.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itext.layout" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.2.6.0" newVersion="7.2.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itext.io" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.2.6.0" newVersion="7.2.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itext.forms" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.2.6.0" newVersion="7.2.6.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
	
		<appSettings>
			<add key="owin:AutomaticAppStartup" value="false" />
		</appSettings>

</configuration>
